
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# For mac
.DS_Store

# Environments
.env
.idea
.vscode

# output data
out/

# IDE or editor
.idea
.vscode